
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}


/* for chat dropdown color */

.MuiMenuButton-root , .css-cqchqt {
  background-color: inherit !important;
}

.main-bg {
  background: hsla(48, 8%, 88%, 1);

    background: linear-gradient(90deg, hsla(48, 8%, 88%, 1) 77%, hsla(48, 8%, 88%, 1) 82%, hsla(167, 100%, 33%, 1) 82%);

    background: -moz-linear-gradient(90deg, hsla(48, 8%, 88%, 1) 77%, hsla(48, 8%, 88%, 1) 82%, hsla(167, 100%, 33%, 1) 82%);

    background: -webkit-linear-gradient(90deg, hsla(48, 8%, 88%, 1) 77%, hsla(48, 8%, 88%, 1) 82%, hsla(167, 100%, 33%, 1) 82%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E2E1DD", endColorstr="#E2E1DD", GradientType=1);  
}

.signin-bg {
  background: rgb(17, 27, 33);
    background: linear-gradient(0deg, rgba(17, 27, 33, 1) 81%, rgba(0, 168, 132, 1) 81%);
}

/* scrollbar  */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CED0D1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CED0D1;
}


/* input width 100% */

.css-fjddch-MuiInputBase-root {
  width: 100%;
}


/* list styling on hover */
.list-item, .icon-down {
  transition:all .2s ease-in-out;
}

.list-item:hover .icon-down {
  opacity: 1;
  transform: translate(0px);

}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.042);
  color: #00A884;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  right: 5px;
}
.btnLoaded {
  height: 45px;
}

